<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>868919169855-q14jll7vofctlk6cilntbac7vjktv377.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.868919169855-q14jll7vofctlk6cilntbac7vjktv377</string>
	<key>API_KEY</key>
	<string>AIzaSyAp20YzAEdWYQOMnAWERu3NY7ROg-fQh4I</string>
	<key>GCM_SENDER_ID</key>
	<string>868919169855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.splitmoney</string>
	<key>PROJECT_ID</key>
	<string>splitmoney-94bfe</string>
	<key>STORAGE_BUCKET</key>
	<string>splitmoney-94bfe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:868919169855:ios:b357bb1858455b92c8398a</string>
</dict>
</plist>